<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
              http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
              http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

       <context:component-scan base-package="com" >
              <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
       </context:component-scan>
      <!-- <context:component-scan base-package="com.jd.xn.task.executor" />-->

       <!-- spring 的默认处理类-->
<!--       <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
              &lt;!&ndash; 必须添加下面这句声明 &ndash;&gt;
              <property name="ignoreUnresolvablePlaceholders" value="true" />
              <property name="location">
                     <value>classpath:alias.properties</value>
              </property>
       </bean>-->

       <import resource="spring-config-aop.xml" />
       <import resource="spring-config-mybatis.xml"/>
       <import resource="spring-config-resource.xml"/>
       <import resource="spring-config-datasource.xml"/>

</beans>