<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
       <typeAliases>
              <typeAlias alias="TTable" type="com.db.domin.po.TTable"/>
             <!-- <typeAlias alias="ExchangeQuery" type="com.jd.sep.domain.po.ExchangeQuery"/>-->

       </typeAliases>
       <typeHandlers>
            <!--  <typeHandler  handler="com.jd.sep.util.convert.MoneyTypeHandler" />-->
              <!--
                            <typeHandler javaType="com.jd.sep.domain.po.DiscountInfo"  handler="com.jd.sep.util.convert.JSONHandler" />
              -->

       </typeHandlers>
       <mappers>
              <mapper resource="mappers/TMapper.xml"/>
       </mappers>
</configuration>